.card {
  max-width: 413px;
  padding: 33px 36px 60px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin-bottom: 26px;
}

.title {
  margin-bottom: 51px;
  text-align: center;
}

.input {
  margin-bottom: 19px;
}

.instructions {
  margin-bottom: 41px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.caption {
  margin-bottom: 11px;
  text-align: center;
}

.signInLink {
  display: flex;
  justify-content: center;
}
