html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  align-items: center;

  box-sizing: border-box;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;

  &:focus-visible {
    outline: var(--outline-focus);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

input,
select,
textarea,
optgroup,
option {
  box-sizing: border-box;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a,
a:visited {
  display: flex;
  color: currentcolor;

  &:focus-visible {
    outline: var(--outline-focus);
    outline-offset: 2px;
  }
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: linear-gradient(
    rgb(255 255 255 / 0%) 0%,
    rgb(0 174 255 / 4%) 50%,
    rgb(255 255 255 / 0%) 51%,
    rgb(0 174 255 / 3%) 100%
  );
  box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: var(--color-light-100);
}
