.button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  flex-shrink: 0;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0.375rem 1.75rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 0.25rem;

  transition:
    var(--transition-duration-basic) background-color,
    var(--transition-duration-basic) color;

  &:focus-visible {
    outline: var(--outline-focus);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  composes: button;
  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px rgb(140 97 255 / 35%);

  &:hover:enabled {
    background-color: var(--color-accent-300);
  }

  &:active:enabled {
    background-color: var(--color-accent-700);
  }
}

.secondary {
  composes: button;
  color: var(--color-light-100);
  background-color: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 #6d6d6d40;

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:active:enabled {
    background-color: var(--color-dark-500);
  }
}

.tertiary {
  composes: button;
  color: var(--color-accent-500);
  background-color: var(--color-dark-900);
  border: 1px solid var(--color-accent-700);

  &:hover:enabled {
    background-color: var(--color-dark-500);
  }

  &:active:enabled {
    background-color: var(--color-accent-900);
  }
}

.link {
  composes: button;

  padding: 0.375rem 0;

  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-accent-500);
  text-decoration-line: underline;
}

.icon {
  border-radius: 9999px;
}
