.root {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filters {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  margin: 10px 0 16px;
}

.pagination {
  margin-top: 24px;
}
