@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: var(--color-text-primary);
}

.large {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-bold));
}

.h1 {
  @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-bold));
}

.h2 {
  @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
}

.h3 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.body1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}

.subtitle1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.body2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
}

.subtitle2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));
}

.overline {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-bold));
}

.caption {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
}

.link1,
.link1:visited {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));

  cursor: pointer;
  color: var(--color-text-link);
  text-decoration: underline;
}

.link2,
.link2:visited {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));

  cursor: pointer;
  color: var(--color-text-link);
  text-decoration: underline;
}

.error {
  @include typography(var(--font-size-xs), var(--line-height-m), var(--font-weight-regular));

  color: var(--color-danger-300);
}
